body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 20px;
}

canvas {
    border: 4px solid #2b2b2b;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#gameCanvas {
    margin-bottom: 20px;
}

.info-container, .preview-container {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;
}

.info-box, .preview-box {
    text-align: center;
    background-color: #383e4a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#startMenu, #pauseMenu, #lossMenu {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4a5568;
    border: 2px solid #2b2b2b;
    padding: 20px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: #2b2b2b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #48b4e0;
}

.hidden {
    display: none !important;
}
